body {
	font-family: calibri;
	font-size: 60px;
	
}

.kluis {
	background-image: url('Background.jpg');
	width: 1920px;
	height: 1080px;
}

.kluis .kluisDigits {
	position: absolute;
	top: 430px;
	left: 390px;
	font-family: courier new;
	color: orange;
	font-size: 20px;
}

.digitBox {
	width: 200px;
	height: 200px;
	margin-right: 20px;
	margin-top: 15px;
	float: left;
	border-style: solid;
	border-color: #EEEEEE;
	text-align: center;	
}