body {
	font-family: calibri;
	font-size: 60px;
}

.kluis {
	background: black;
	width: 1366;
	height: 768px;
}

.kluis .kluisWrapper {
	margin-left: 203px;
	margin-right: 203px;
	width: 960px;
	height: 768px;
	background-image: url('Kluis Dicht.png');
}

.kluis .kluisWrapper .kluisDigits {
	position: relative;
	padding-left: 4px;
	height: 30px;
	width: 88px;
	top: 295px;
	left: 30px;
	font-family: courier new;
	color: orange;
	border-style: solid;
	border-color: #333333;
	font-size: 20px;
}

.kluis .kluisWrapper .digitButtons {
	position: relative;
	top: 300px;
	left: 20px;
	width: 96px;
	height: 119px;
}

.kluis .kluisWrapper .openButtonWrapper {
	position: relative;
	left: 24px;
	top: 280px;
	width: 100px;
	background: grey;
	border-style: solid;
	border-color: #333333;
	font-family: courier new;
	color: orange;
	font-size: 30px;
}

.kluis .kluisWrapper .openButtonWrapper input {
	width: 94px;
	background: grey;
	border: none; 
}

.kluis .digitButtons .digitButton {
	background: grey;
	border-style: solid;
	border-color: #333333;
	position: absolute;
	width: 31px;
	height: 18px;
}

.kluis .digitButtons .digitButton.pressed {
	border-style: solid;
	border-color: orange;
}

.kluis .digitButtons .digitButton.left { left: 4px;}
.kluis .digitButtons .digitButton.center { left: 37px;}
.kluis .digitButtons .digitButton.right{ left: 71px;}

.kluis .digitButtons .digitButton.top { top: 4px;}
.kluis .digitButtons .digitButton.mid { top: 25px;}
.kluis .digitButtons .digitButton.bot { top: 46px;}
.kluis .digitButtons .digitButton.jungle { top: 67px;}

.digitBox {
	width: 200px;
	height: 200px;
	margin-right: 20px;
	margin-top: 15px;
	float: left;
	border-style: solid;
	border-color: #EEEEEE;
	text-align: center;	
}

.kluisSolved {
	width: 1366;
	height: 768px;
}