body {
	font-family: calibri;
	font-size: 60px;
}

.kluis {
	margin-top: 100px;
	margin-left: 100px;
}

.digitBox {
	width: 200px;
	height: 200px;
	margin-right: 20px;
	margin-top: 15px;
	float: left;
	border-style: solid;
	border-color: #EEEEEE;
	text-align: center;	
}